*{padding: 0;margin:0;}
body,html{width: 100%;background: #f6f8f9;color: #3C3759;}
/*banner*/
.swiper-wrapper .image {
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    vertical-align: top;
}
.swiper-pagination-bullet {
    width: 0.09rem;
    height: 0.015rem;
    border-radius: 0.005rem;
    border-radius: 0;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0.15rem!important;
}

/*buttons-nav*/
.lineP{width: 100%;height: 0.11rem;background: #fff;border-top-left-radius:0.1rem;border-top-right-radius:0.1rem;z-index: 999;position: absolute;bottom: -0.01rem;left: 0;}
.swiper-containers{background: #fff;position: relative;overflow: hidden;z-index: 200;}
.tztui-grids{background-color: #fff;overflow: hidden;padding:0 0.15rem;}
.tztui-grids .tztui-grid {
    position: relative;
    float: left;
    padding: 0.1rem 0 0.16rem;
    width: 25%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tztui-grids .tztui-grid .grid__icon {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 auto;
    display: block;
}
.tztui-grids .tztui-grid .grid__label {
    display: block;
    text-align: center;
    color: #3C3759;
    font-size: .14rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 0.1rem;
}
.swiper-containers .tztui-grid-next {
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	position: absolute;
    background: url(../images/nextpage.png) no-repeat center / 0.2rem 0.2rem;
    top: 0.25rem;
    right: 0;
}
.grid__icon.nav_img1 {
    background: url(../images/nav_img1.png) no-repeat center / 0.45rem 0.45rem;
    background-size: 0.45rem auto;
}
.grid__icon.nav_img2 {
    background: url(../images/nav_img2.png) no-repeat center / 0.45rem 0.45rem;
    background-size: 0.45rem auto;
}
.grid__icon.nav_img3 {
    background: url(../images/nav_img3.png) no-repeat center / 0.45rem 0.45rem;
    background-size: 0.45rem auto;
}
.grid__icon.nav_img4 {
    background: url(../images/nav_img4.png) no-repeat center / 0.45rem 0.45rem;
    background-size: 0.45rem auto;
}
.grid__icon.nav_img5 {
    background: url(../images/nav_img5.png) no-repeat center / 0.45rem 0.45rem;
    background-size: 0.45rem auto;
}
.grid__icon.nav_img6 {
    background: url(../images/nav_img6.png) no-repeat center / 0.45rem 0.45rem;
    background-size: 0.45rem auto;
}
.grid__icon.nav_img7 {
    background: url(../images/nav_img7.png) no-repeat center / 0.45rem 0.45rem;
    background-size: 0.45rem auto;
}
.grid__icon.nav_img8 {
    background: url(../images/nav_img8.png) no-repeat center / 0.45rem 0.45rem;
    background-size: 0.45rem auto;
}
/*共有样式*/
.tztui-list {
    width: 100%;
    line-height: .54rem;
    background-color: #fff;
    margin-top: 0.1rem;
}
.tztui-list-title {
    width: 100%;
    font-size: .16rem;
    color: #3C3759;
    font-weight: bold;
    position: relative;
    padding:0 0.15rem;
}
.tztui-list-title .rightArrow{
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	position: absolute;
	right: 0.15rem;
	top: 0.18rem;
	background:url(../images/nextpage.png) no-repeat center / 0.2rem 0.2rem;
}
/*小白乐园*/
.xbly-box{
	width: 100%;
	background: #fff;
	padding:0 0.15rem 0.15rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-ms-flex-flow:row nowrap;
	flex-flow:row nowrap;
}
.xbly-box .box-item {
	display: inline-block;
	width: 33%;
	margin-right: 2%;
	border-radius: 0.02rem;
	font-size: 0.13rem;
	padding-left: 0.1rem;
	color: #fff;
}
.xbly-box .box-item:last-child{margin-right: 0;}
.xbly-box .box-item1{background: url(../images/xbly1.png) no-repeat center / contain;}
.xbly-box .box-item2{background: url(../images/xbly2.png) no-repeat center / contain;}
.xbly-box .box-item3{background: url(../images/xbly3.png) no-repeat center / contain;}
/*新闻列表*/
.xwlb{
	width: 100%;
	background: #fff;
	margin-top: 0.1rem;
	padding: 0.1rem 0.15rem;
	height: 0.74rem;
	position: relative;
}
#donate_carousel {
	height:100%;
	width: 100%;
	padding-left: 0.65rem;
	overflow:hidden;
}
.donate_bar {
	padding:0;
	line-height:0.25rem;
	list-style:circle !important;
}
.donate_bar li{
	height:0.25rem;
	list-style:none;
	margin:0;
	padding:0;
	position: relative;
}
.donate_bar li i{
	display: inline-block;
	width: 0.05rem;
	height: 0.05rem;
	background: url(../images/dot.png) no-repeat center / 0.05rem 0.05rem;
	position: absolute;
	top: 0.085rem;
	left: -0.1rem;
}
.donate_bar li span{
	display: inline-block;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	width: 70%;
	font-size:0.13rem;
	color:#3C3759;
}
.donate_bar li em{
	display: inline-block;
	width: 30%;
	font-size:0.13rem;
	color:#A5A1B1;
	float: right;
	text-align: right;
}
.xwlb .left-image{
	position: absolute;
	left: 0.15rem;
	top: 0;
	width: 0.4rem;
	height: 100%;
	background: url(../images/tzgg.png) no-repeat center / 0.4rem auto;
}
/*活动专区*/
.hdzq-box{
	overflow-x: scroll;
	background: #fff;
	padding: 0 0.15rem 0;
}
.scroll-box{
	background: #fff;
    overflow-x: scroll;
}
.hdzq-box .box-item{
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width:2rem;
	height: 0.65rem;
	background: #F6F8F9;
	border-radius: 0.02rem;
	line-height: 0.2rem;
}
.hdzq-box .box-item .title{
	font-size: 0.14rem;
	color: #3C3759;
	position: absolute;
	top: 0.1rem;
	left: 0.1rem;
}
.hdzq-box .box-item .subtitle{
	font-size: 0.11rem;
	color: #808098;
	position: absolute;
	bottom: 0.1rem;
	left: 0.1rem;
}
.hdzq-box .box-item .img{
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	position: absolute;
	bottom: 0;
	right: 0.1rem;
}
.hdzq-box .box-item .img.img1{
	background: url(../images/Artboard.png) no-repeat center / 0.5rem auto;
}
.hdzq-box .box-item .img.img2{
	background: url(../images/Artboard2.png) no-repeat center / 0.5rem auto;
}

/*热门题材掘金*/
.rmtcjj-box{
	width: 100%;
	background: #fff;
	padding:0 0.15rem 0.15rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient:horizontal;
	-webkit-box-direction:normal;
	-ms-flex-flow:row nowrap;
	flex-flow:row nowrap;
}
.rmtcjj-box .box-item {
	display: inline-block;
	width: 33.33%;
	margin-right: 2%;
	font-size: 0.13rem;
	color: #3C3759;
}
.rmtcjj-box .box-item:last-child{margin-right: 0;}
.rmtcjj-box .box-item .box-img{
	width: 100%;
	height: 0.65rem;
	border-radius: 0.02rem;
	text-align: center;
	vertical-align:middle;
    line-height:0.65rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.rmtcjj-box .box-img1{background: url(../images/back1.png) no-repeat center / cover;}
.rmtcjj-box .box-img2{background: url(../images/back2.png) no-repeat center / cover;}
.rmtcjj-box .box-item p {
	padding-top: 0.1rem;
	color: #808098;
	font-size: 0.12rem;
	line-height: 0.16rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
/*牛人观点*/
.nrgd-box{
	overflow-x: scroll;
	background: #fff;
	padding: 0 0.15rem 0;
}
.scroll-box{
	background: #fff;
    overflow-x: scroll;
}
.nrgd-box .box-item{
	position: relative;
	display: inline-block;
	margin-right: 10px;
	width:2.4rem;
	height: 1.05rem;
	background: #fff;-webkit-box-shadow: 0 2px 14px 0 rgba(39,52,125,0.10);box-shadow: 0 2px 14px 0 rgba(39,52,125,0.10);
	border-radius: 0.03rem;
}
.nrgd-box .box-title{
	position: relative;
}
.nrgd-box .box-title .title-img{
	display: inline-block;
	width: 0.25rem;
	height: 0.25rem;
	background: url(../images/user.png) no-repeat center / 0.25rem auto;
	position: absolute;
	top: 0.1rem;
	left: 0.1rem;
	border-radius: 0.01rem;
}
.nrgd-box .box-title .title-name{
	font-size: 0.13rem;
	color: #808098;
	position: absolute;
	top: 0.1rem;
	left: 0.45rem;
	line-height: 0.25rem;
}
.nrgd-box .box-title .title-attent{
	display: inline-block;
    width: 0.46rem;
    height: 0.23rem;
    border-radius: 0.02rem;
    background: url(../images/guanzhu.png) no-repeat center / 0.46rem auto;
    position: absolute;
	top: 0.1rem;
	right: 0.1rem;
}
.nrgd-box .box-title .title-attent.title-gz{
	background: url(../images/yiguanzhu.png) no-repeat center / 0.46rem auto;
}
.nrgd-box .box-content{
	line-height: 0.2rem;
	color: #3C3759;
	font-size: 0.13rem;
	position: absolute;
	left: 0.1rem;
	top: 0.5rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

/*股票组合*/
.gpzh-box{padding:0 0.15rem;}
.gpzh-box .box-bottom{width: 100%;color: #A5A1B1;font-size: 0.13rem;line-height: 0.2rem;}
.gpzh-box .box-bottom .box-time{float: right;}
.gpzh-box .box-bottom .box-name em{color: #587EDF;}
.gpzh-box .box-item{padding: 0.1rem 0;border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;}
.gpzh-box .box-content .box-list{display: inline-block;width: 31%;border-right: 1px solid #e5e5e5;line-height: 0.25rem;}
.gpzh-box .box-content .box-list:last-child{border-right: none;}
.gpzh-box .box-content .box-list1 p{font-size: 0.16rem;color: #3C3759;}
.gpzh-box .box-content .box-list1 i{display: inline-block;
    width: 0.3rem;
    height: 0.15rem;
    text-align: left;
    background: url(../images/duanxian.png) center / 0.3rem 0.15rem;}
.gpzh-box .box-content .box-list2{text-align: center;width: 36%;}
.gpzh-box .box-content .box-list2 p{font-size: 0.2rem;color: #F24D44;}
.gpzh-box .box-content .box-list2 span{font-size: 0.11rem;color: #A5A1B1;}
.gpzh-box .box-content .box-list3{text-align: right;}
.gpzh-box .box-content .box-list3 p{font-size: 0.2rem;color: #3C3759;}
.gpzh-box .box-content .box-list3 span{font-size: 0.11rem;color: #A5A1B1;}

/*专区*/
.zhuanqu{width: 100%;background: #fff;padding: 0.15rem;margin-bottom: 0.1rem;}
.zhuanqu>div{width: 48.4%;display: inline-block;border-radius: 0.02rem;height: auto;font-size: 0.14rem;color: #3C3759;padding-left: 0.1rem;}
.zhuanqu>div.img1{background: url(../images/zhuanqu1.png) no-repeat center / cover;}
.zhuanqu>div.img2{background: url(../images/zhuanqu2.png) no-repeat center / cover;}
.zhuanqu>div:first-child{margin-right: 2%;}

/*资讯*/
.zixun{padding: 0 0.15rem;width: 100%;}
.zx_title{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0.16rem;
    background-color: #FFFFFF;
   	color: #3C3759 ;
    z-index: 10;
    border-bottom: 1px solid #e5e5e5;
}
.zx_title li{position: relative;}
.zx_title li.active {
    color: #F24D44;
}
.tp_line {
    position: absolute;
    display: inline-block;
    bottom: .1rem;
    left: .08rem;
    height: 0.015rem;
    width: .14rem;
    border-radius: 0.005rem;
    background-color: #F24D44;
}
.zx_content{width: 100%;background: #fff;}
.zx_content .cont.none{display: none;}
.zx-list{
	padding: 0.17rem 0 0.18rem 1rem;
    position: relative;
    line-height: 0.2rem;
    border-bottom: 1px solid #e5e5e5;
}
.zx-list img {
    position: absolute;
    left: 0;
    top: 50%;
    margin: -0.325rem 0 0;
    width: 0.83rem;
    height: 0.65rem;
    z-index: 1;
}
.zx-list .zx-name {
    font-size: 0.16rem;
    line-height: 0.2rem;
    color: #303030;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.zx-list .zx-date {
    color: #808098;
    font-size: 0.12rem;
    padding: 0.11rem 0 0;
}
.zx-list .zx-date span {
    float: right;
}
.zixun .more{
	height: 0.5rem;
	width: 100%;
	color: #587EDF;
	font-size: 0.15rem;
	text-align: center;
}
.huafu .zx-list-date {
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.12rem;
    color: #A5A1B1;
    border-bottom: none;
}
.huafu .zx-list{
	padding: 0.1rem 0 0.1rem 1rem;
}
.huafu .zx-list .img {
	display: inline-block;
    width: 0.5rem!important;
    height: 0.5rem;
    margin: -0.325rem 0 0;
    position: absolute;
    left: 0;
    top: 50%;
}
.zx-list .zao{
	background: url(../images/zaojian.png) no-repeat center / 0.5rem 0.5rem;
}
.zx-list .wu{
	background: url(../images/wujian.png) no-repeat center / 0.5rem 0.5rem;
}
.zx-list .wan{
	background: url(../images/wanjian.png) no-repeat center / 0.5rem 0.5rem;
}
.ssgd .list-container{display:block;width:100%;}
.ssgd .list_cont {
  display:block;
  position:relative;
  width:100%;
  padding:0 0.15rem 0.15rem;
  background:#fff;
}
.ssgd .list_item_text{height: 0.36rem;line-height: 0.36rem;margin:0 0.15rem;color: #A5A1B1;font-size: 0.12rem;border-bottom: 1px solid #e5e5e5;}
.ssgd .list_item {
  display:block;
  position:relative;
  padding:0.06rem 0 0.2rem 0.75rem;
  width:100%;
}
.ssgd .list_item_hd {
    position:absolute;
    left:0;
    top:0.06rem;
    height:100%;
}
.ssgd .list_item_bd {
    display:block;
    width:100%;
}
.ssgd .hd_date {
    display:inline-block;
    width:0.7rem;
    height: 100%;
    position: relative;
}
.ssgd .hd_date .date {color:#A5A1B1;font-size: .11rem;position: absolute;top: -0.15rem;left: 0;}

.ssgd .hd_line_cn {
display:inline-block;
width:30px;
padding:0 12px;
text-align:center;
}
.ssgd .hd_line_cn:after {
  content: " ";
  position: absolute;
  left: 0.485rem;
  top: 18px;
  width: 1px;
  bottom: 0;
  border-left: 1px solid #e5e5e5;
  color: #e5e5e5;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  z-index:0;
}
.ssgd .red_yd {
  position:absolute;
  display:inline-block;
  width:0.06rem;
  height:0.06rem;
  background-color:#f24d44;
  border-radius: 0.06rem;
  left:0.45rem;
  top:0.06rem;
  z-index:1;
}
.ssgd .list_item_bd .one-line {
  display:block;
  width:100%;
  color:#808098;
  font-size:.13rem;
  display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	line-height: 0.2rem;
}
.ssgd .list_item_bd .newstitle {
  color:#3C3759 ;
  font-size: 0.16rem;
}
.ssgd .list-container{
	padding-top: 0.1rem;
}
.ssgd .list_item:last-child{
	padding-bottom: 0.15rem;
}
.navbar_cont{overflow-x: hidden;}
.navbar_wapper {
    padding: 0.15rem 0;
    background: #fff;
}
.navbar_wapper .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.navbar_wapper .navbar__item {
    width: 50%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: #fafafa;
    color: #808090;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.15rem;
}
.navbar_wapper .navbar__item.navbar__item_on {
    color: #f24d44;
    background-color: rgba(242,77,68,0.10);
}
.zixuan .zx-list{
	padding: 0.05rem 0;
}
.zixuan .zx-list .zx-date{text-align: right;padding: 0.05rem 0;}
.zixuan .zx-list2 .zx-date{
	height: 0.3rem;line-height: 0.3rem;padding-top:0.05rem;
}
.zixuan .zx-list2 .zx-date .zx_media{
	float: left;
}
.zixuan .zx-list2 .zx-date .zx_time{
	float: right;
}