html,body{background: #f6f8f9;width: 100%;}
.mescroll .box{padding:0 0.15rem;background: #fff;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2.0),
only screen and (-o-min-device-pixel-ratio: 200/100),
only screen and (min-device-pixel-ratio: 2.0){
    .list-block ul li:nth-child(n+2):before {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }

    .list-block ul li:nth-child(n+2):before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: auto;
        right: auto;
        height: 1px;
        width: 100%;
        background-color: #e5e5e5;
        display: block;
        z-index: 0;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}
/*推荐*/
.tuijian .zx-list{position: relative;width: 100%;background: #fff;padding: 0.15rem 0 0.18rem 1.1rem;border-bottom: 1px solid #e5e5e5;height: 0.95rem;}
.tuijian .zx-list img {
    position: absolute;
    left: 0;
    top: 0.15rem;
    height: 0.65rem;
    width: 0.93rem;
    z-index: 1;
}
.tuijian .zx-list .zx-name {
    color: #3C3759;
    font-size: 0.15rem;
    line-height: 0.2rem;
    display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.tuijian .zx-list .zx-date {
    color: #808098;
    font-size: 0.12rem;
    position: absolute;
    bottom: 0.1rem;
    right: 0;
}
.tuijian .zx-list .zx-media{
	color: #808098;
    font-size: 0.12rem;
    position: absolute;
    bottom: 0.1rem;
    left: 1.1rem;
}

/*实时滚动 7x24*/
.ssgd .list_item_text {
    height: 0.36rem;
    line-height: 0.36rem;
    color: #A5A1B1;
    font-size: 0.12rem;
    border-bottom: 1px solid #e5e5e5;
}
.ssgd .list_item {
    display: block;
    position: relative;
    padding: 0.06rem 0 0.15rem 0.5rem;
    width: 100%;
}
.ssgd .list_item_hd {
    position: absolute;
    left: 0;
    top: 0.08rem;
    height: 100%;
}
.ssgd .hd_date {
    display: inline-block;
    height: 100%;
    position: relative;
}
.ssgd .hd_line_cn {
    display: inline-block;
    width: 30px;
    padding: 0 12px;
    text-align: center;
}
.ssgd .list_item_bd .one-line {
    display: block;
    width: 100%;
    color: #808098;
    font-size: .13rem;
}
.ssgd .list_item_bd .newstitle {
    color: #3C3759;
    font-size: 0.15rem;
    margin-bottom: 0.2rem;
}
.ssgd .list_item_bd .newstitle.close {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.ssgd .hd_date .date {
    color: #A5A1B1;
    font-size: .11rem;
    position: absolute;
    top: 0;
    left: 0;
}
.ssgd .share{
    display: inline-block;
    width: 0.18rem;
    height: 0.18rem;
    background: url(../img/ssgd.png) no-repeat center / 0.18rem auto;
    position: absolute;
    bottom: 0.05rem;
    right: 0;
}
.ssgd .red_yd {
    position: absolute;
    display: inline-block;
    width: 0.06rem;
    height: 0.06rem;
    background-color: #f24d44;
    border-radius: 0.06rem;
    left: 0.35rem;
    top: 0.06rem;
    z-index: 1;
}
.ssgd .hd_line_cn:after {
    content: " ";
    position: absolute;
    left: 0.375rem;
    top: 18px;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    z-index: 0;
}
/*华福*/
.huafu .list_item_text {
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.12rem;
    color: #A5A1B1;
    /*padding-left: 0.15rem;*/
    border-bottom: none;
}
.huafu .zx-list{
    background: #fff;
    padding: 0.15rem 0 0 0.65rem;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    height: 0.7rem;
}
.huafu .zx-list:last-child{
    border-bottom: none;
}

.huafu .zx-list .img {
    position: absolute;
    left: 0rem;
    top: 0.1rem;
    z-index: 1;
    width: 0.5rem!important;
    height: 0.5rem;
    border-radius: 50%;
    border: 1px solid #fff;
}
.huafu .zx-list .img.zao {
    background: url(../img/zaojian.png) no-repeat center / contain;
}
.huafu .zx-list .img.wu {
    background: url(../img/wujian.png) no-repeat center / contain;
}
.huafu .zx-list .img.wan {
    background: url(../img/wanjian.png) no-repeat center / contain;
}
.huafu .zx-list .zx-name {
    color: #3C3759;
    font-size: 0.15rem;
    line-height: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.huafu .zx-list .zx-date,.huafu .zx-list .zx-media {
    color: #808098;
    font-size: 0.12rem;
}
.huafu .zx-list .zx-date{
    position: absolute;
    bottom: 0.1rem;
    right: 0;
}
.huafu .zx-list .zx-media{
    position: absolute;
    bottom: 0.1rem;
    left: 0.65rem;
}

.none {
    position: relative;
}
.none i {
    position: absolute;
    top: 1.6rem;
    left: 50%;
    margin-left: -0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    background: url(../../jy/style/images/nodata.png) center;
    background-size: 100% 100%;
}
.none p {
    position: absolute;
    top: 2.3rem;
    text-align: center;
	width: 100%;
    font-size: .14rem;
    color: #A5A1B1;
}