@charset "UTF-8";
@font-face {
    font-family: HarmonyOS Sans SC;
    src: url('/home_new/font/HarmonyOS_Sans_Medium.ttf');
    font-display: swap;
}
.main-container {
    width: 100%;
    position: relative;
    padding-top: 0.32rem;
}
.gradient-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 4.48rem;
    background: linear-gradient(179.89deg, #ffffff 38.95%, #f2f4f7 99.9%);
}
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ellipsis2l {
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
}
.ellipsis2l3 {
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
}
.full-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.loading .img {
    width: 0.64rem;
    height: 0.64rem;
    animation: rotate 2s linear infinite;
}
.loading .text {
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
    color: #999999;
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.stock-tag {
    display: inline-flex;
    align-items: center;
    font-size: 0.32rem;
    font-weight: 400;
    padding: 0.05333rem 0.10667rem;
    background: #f8f9fb;
}
.stock-tag .stock-name {
    font-family: PingFang SC;
    line-height: 0.45333rem;
}
.stock-tag .rate {
    color: #10a361;
    font-family: HarmonyOS Sans SC;
    line-height: 0.4rem;
}
.stock-tag .is-up {
    color: #ec3529;
}
.stock-tag + .stock-tag {
    margin-left: 0.21333rem;
}
.kx-tgjp {
    position: relative;
    z-index: 1;
    padding: 0 0.26667rem;
    margin-top: 0.21333rem;
    display: flex;
}
.kx-tgjp .gradient-border {
    flex: 1;
    width: 4.6133333333rem;
    border-radius: 0.26667rem;
    position: relative;
}
.kx-tgjp .gradient-border .bg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.kx-tgjp .kx {
    height: 2.96rem;
    border-radius: 0.24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.kx-tgjp .kx > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.kx-tgjp .kx .kx-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kx-tgjp .kx .kx-header .name {
    position: absolute;
    left: 0.32rem;
    top: 0.32rem;
}
.kx-tgjp .kx .kx-header .name > img {
    width: 0.93333rem;
    display: block;
}
.kx-tgjp .kx .kx-header .time {
    position: absolute;
    right: 0.32rem;
    top: 0.4rem;
    font-family: HarmonyOS Sans SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.37333rem;
    color: #999999;
    display: flex;
    align-items: center;
}
.kx-tgjp .kx .kx-header .time > img {
    width: 0.18667rem;
    margin-left: 0.05333rem;
}
.kx-tgjp .kx .content {
    position: absolute;
    right: 0.32rem;
    top: 0.96rem;
    width: 3.97333rem;
    /* margin-top: 0.10667rem; */
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    line-height: 0.53333rem;
    color: #222222;
}
.kx-tgjp .kx .stock-content {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0.21333rem;
    left: 0.32rem;
}
.kx-tgjp .kx .stock-content .stock-tag {
    border-radius: 0.05333rem;
}
.kx-tgjp .kx .stock-content .stock-tag .rate {
    font-family: HarmonyOS Sans SC;
}
.kx-tgjp .kx .plate-content {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    position: absolute;
    left: 0.32rem;
    bottom: 0.32rem;
    display: flex;
    align-items: center;
}
.kx-tgjp .kx .plate-content .plate-tag {
    color: #327ae5;
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
}
.kx-tgjp .kx .plate-content .plate-tag + .plate-tag {
    margin-left: 0.21333rem;
}
.kx-tgjp .kx .share-btn {
    position: absolute;
    bottom: 0.32rem;
    left: 0.32rem;
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
    display: flex;
    align-items: center;
    color: #999999;
}
.kx-tgjp .kx .share-btn > img {
    width: 0.37333rem;
    margin-right: 0.05333rem;
}
.kx-tgjp .tgjp {
    flex: none;
    position: relative;
    width: 4.6133333333rem;
    margin-left: 0.24rem;
}
.kx-tgjp .tgjp #swiper-container-tgjp {
    overflow: hidden;
    width: 100%;
    height: 3.01333rem;
}
.kx-tgjp .tgjp .slide-content {
    border-radius: 0.26667rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}
.kx-tgjp .tgjp .tgjp-card {
    padding: 0.32rem;
}
.kx-tgjp .tgjp .tgjp-card .tgjp-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kx-tgjp .tgjp .tgjp-card .tgjp-header .left {
    display: flex;
    align-items: center;
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 500;
    line-height: 0.53333rem;
    color: #222222;
}
.kx-tgjp .tgjp .tgjp-card .tgjp-header .avatar {
    width: 0.48rem;
    height: 0.48rem;
    margin-right: 0.10667rem;
    border-radius: 50%;
    object-fit: cover;
}
.kx-tgjp .tgjp .tgjp-card .tgjp-header .icon {
    margin-left: 0.05333rem;
    width: 0.42667rem;
    height: 0.42667rem;
}
.kx-tgjp .tgjp .tgjp-card .content {
    margin-top: 0.10667rem;
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    line-height: 0.53333rem;
}
.kx-tgjp .tgjp .tgjp-card .people {
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
    color: #999;
    margin-top: 0.21333rem;
}
.kx-tgjp .tgjp .tgjp-card .hf-tag,
.kx-tgjp .tgjp .tgjp-card .yy-tag {
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
    padding: 0 0.10667rem;
    border-radius: 2px;
}
.kx-tgjp .tgjp .tgjp-card .hf-tag {
    color: #cf723c;
    background: rgba(207, 114, 60, 0.08);
    border-radius: 2px;
}
.kx-tgjp .tgjp .tgjp-card .yy-tag {
    color: #327ae5;
    background: rgba(50, 122, 229, 0.08);
}
.kx-tgjp .tgjp .bg {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.kx-tgjp .tgjp .zb-card {
    position: relative;
    border-radius: 0.26667rem;
    overflow: hidden;
}
.kx-tgjp .tgjp .zb-card .sub {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    padding-right: 0.16rem;
    border-bottom-right-radius: 0.21333rem;
    height: 0.50667rem;
    padding-left: 0.96rem;
}
.kx-tgjp .tgjp .zb-card .sub > img {
    height: 0.61333rem;
    position: absolute;
    left: 0;
    top: 0;

}
.kx-tgjp .tgjp .zb-card .sub .time {
    font-family: HarmonyOS Sans SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.37333rem;
    color: #ffffff;
    margin-left: 0.16rem;
}
.kx-tgjp .tgjp .zb-card .sub .count {
    font-family: HarmonyOS Sans SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.37333rem;
    color: #ffffff;
    margin-left: 0.16rem;
}
.kx-tgjp .tgjp .zb-card .living {
    padding-left: 1.65333rem;
}
.kx-tgjp .tgjp .rdzx-card {
    padding: 0.32rem;
    /* background: #f8f9fb;
            border-radius: 0.26667rem; */
    position: relative;
    z-index: 1;
}
.kx-tgjp .tgjp .rdzx-card .card-title {
    display: flex;
    align-items: center;
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 500;
    color: #222222;
    margin-left: -0.05333rem;
}
.kx-tgjp .tgjp .rdzx-card .card-title > img {
    width: 0.48rem;
    height: 0.48rem;
    margin-right: 0.10667rem;
}
.kx-tgjp .tgjp .rdzx-card .title {
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    line-height: 0.53333rem;
    margin-top: 0.10667rem;
    color: #222222;
}
.kx-tgjp .tgjp .rdzx-card .content {
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    margin-top: 0.10667rem;
    color: #666666;
}
#kx-tgjp-app .card,
#djjd-app .card,
#jrrd-app .card,
#dcjh-app .card,
#yw-list-app .card {
    width: 100%;
    background: #ffffff;
    border-radius: 0.26667rem;
    padding: 0.32rem;
    height: 100%;
}
#kx-tgjp-app .card .card-header,
#djjd-app .card .card-header,
#jrrd-app .card .card-header,
#dcjh-app .card .card-header,
#yw-list-app .card .card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#kx-tgjp-app .card .card-header > div:first-child,
#djjd-app .card .card-header > div:first-child,
#jrrd-app .card .card-header > div:first-child,
#dcjh-app .card .card-header > div:first-child,
#yw-list-app .card .card-header > div:first-child {
    font-family: PingFang SC;
    font-size: 0.42667rem;
    font-weight: 700;
    color: #222222;
    line-height: 0.58667rem;
}
#kx-tgjp-app .card .card-header > div:last-child,
#djjd-app .card .card-header > div:last-child,
#jrrd-app .card .card-header > div:last-child,
#dcjh-app .card .card-header > div:last-child,
#yw-list-app .card .card-header > div:last-child {
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    color: #999999;
    display: flex;
    align-items: center;
    line-height: 0.45333rem;
    margin-top: 0.10667rem;
    position: relative;
    margin-right: 0.29333rem;
}
#kx-tgjp-app .card .card-header > div:last-child .icon-right,
#djjd-app .card .card-header > div:last-child .icon-right,
#jrrd-app .card .card-header > div:last-child .icon-right,
#dcjh-app .card .card-header > div:last-child .icon-right,
#yw-list-app .card .card-header > div:last-child .icon-right {
    top: 0.04rem;
    right: -0.29333rem;
    width: 0.18667rem;
    position: absolute;
}
#kx-tgjp-app .pagination,
#djjd-app .pagination,
#jrrd-app .pagination,
#dcjh-app .pagination,
#yw-list-app .pagination {
    display: flex;
    justify-content: center;
}
#kx-tgjp-app .swiper-pagination,
#djjd-app .swiper-pagination,
#jrrd-app .swiper-pagination,
#dcjh-app .swiper-pagination,
#yw-list-app .swiper-pagination {
    background: #f5f6f7;
    display: flex;
    border-radius: 0.53333rem;
    position: absolute;
    bottom: 0.16rem;
}
#kx-tgjp-app .swiper-pagination .swiper-pagination-bullet,
#djjd-app .swiper-pagination .swiper-pagination-bullet,
#jrrd-app .swiper-pagination .swiper-pagination-bullet,
#dcjh-app .swiper-pagination .swiper-pagination-bullet,
#yw-list-app .swiper-pagination .swiper-pagination-bullet {
    width: 0.21333rem;
    height: 0.08rem;
    border-radius: 0.53333rem;
    margin: unset;
    background: unset;
}
#kx-tgjp-app .swiper-pagination .swiper-pagination-bullet-active,
#djjd-app .swiper-pagination .swiper-pagination-bullet-active,
#jrrd-app .swiper-pagination .swiper-pagination-bullet-active,
#dcjh-app .swiper-pagination .swiper-pagination-bullet-active,
#yw-list-app .swiper-pagination .swiper-pagination-bullet-active {
    background: #ec3529;
}
#djjd-app {
    position: relative;
    z-index: 1;
    padding: 0 0.26667rem;
    margin-top: 0.21333rem;
    width: 100%;
}
#djjd-app .card {
    padding-right: 0;
}
#djjd-app .card .card-header {
    padding-right: 0.32rem;
}
#djjd-app .loading {
    min-height: 5.17333rem;
}
#djjd-app .tabs {
    overflow-x: auto;
    margin-top: 0.32rem;
    display: flex;
}
#djjd-app .tabs .tabs-item {
    padding: 0.10667rem 0.32rem;
    background: #f8f9fb;
    font-family: PingFang SC;
    font-size: 0.37333rem;
    color: #666666;
    border-radius: 0.10667rem;
    font-weight: 400;
    line-height: 0.53333rem;
}
#djjd-app .tabs .tabs-item.is-check {
    font-weight: 700;
    background: #fcf2e6;
    color: #cf723c;
}
#djjd-app .tabs .tabs-item + .tabs-item {
    margin-left: 0.21333rem;
}
#djjd-app .notice-content {
    margin-top: 0.32rem;
    height: 3.76rem;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}
#djjd-app .notice-content .scroll-content {
    position: relative;
    white-space: nowrap;
    display: flex;
}
#djjd-app .notice-content .notice-card {
    width: 4rem;
    height: 3.12rem;
    background: #f8f9fb;
    border-radius: 0.21333rem;
    padding: 0.32rem;
    position: relative;
    z-index: 1;
    display: block;
    vertical-align: top;
}
#djjd-app .notice-content .notice-card .card-title {
    display: flex;
    align-items: center;
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 500;
    color: #222222;
    margin-left: -0.05333rem;
    line-height: 0.53333rem;
}
#djjd-app .notice-content .notice-card .card-title > img {
    width: 0.48rem;
    height: 0.48rem;
    margin-right: 0.10667rem;
}
#djjd-app .notice-content .notice-card .content {
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    margin-top: 0.13333rem;
    line-height: 0.53333rem;
}
#djjd-app .notice-content .notice-card .content-tag {
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    line-height: 0.53333rem;
    color: #666666;
    margin-top: 0.16rem;
}
#djjd-app .notice-content .notice-card .author {
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
    color: #666666;
    margin-top: 0.32rem;
}
#djjd-app .notice-content .notice-card .stock-tag {
    background: #ffffff;
    margin-top: 0.21333rem;
    border-radius: 0.05333rem;
}
#djjd-app .notice-content .notice-card .audio-tag {
    margin-top: 0.21333rem;
}
#djjd-app .notice-content .notice-card .time {
    padding: 0.05333rem 0.10667rem 0 0.10667rem;
    font-family: HarmonyOS Sans SC;
    font-size: 0.26667rem;
    font-weight: 400;
    color: #666666;
    position: absolute;
    bottom: -0.69333rem;
    left: -0.018rem;
    border-radius: 0.3733rem;
    background: #f8f9fb;
    line-height: 0.32rem;
    border: 0.05333rem solid #ffffff;
}
#djjd-app .notice-content .notice-card + .notice-card {
    margin-left: 0.21333rem;
}
#djjd-app .notice-content .more-btn {
    width: 0.96rem;
    height: 3.12rem;
    border-radius: 0.21333rem;
    background: #f8f9fb;
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
    color: #999999;
    padding: 0.64rem 0.32rem 0.66667rem 0.32rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0.4rem;
    vertical-align: top;
    margin-left: 0.21333rem;
}
#djjd-app .notice-content .line {
    position: absolute;
    bottom: 0.14rem;
    left: 0.1rem;
    width: calc(100% - 0.32rem);
    height: 0.02667rem;
    background: repeating-linear-gradient(
        90deg,
        transparent 0,
        transparent 0.05333rem,
        #cdcdcd 0.05333rem,
        #cdcdcd 0.10667rem
    );
}
#djjd-app .other-content {
    width: 8.827rem;
    margin-top: 0.32rem;
    background: linear-gradient(180deg, #fff8f5 -14.79%, #ffffff 59.86%);
    padding: 0.32rem;
    border-radius: 0.21333rem;
    border: 0.013333rem solid #fff0eb;
}
#djjd-app .other-content .info-item .title-line {
    display: flex;
    align-items: center;
    font-family: PingFang SC;
    font-size: 0.42667rem;
    font-weight: 500;
    line-height: 0.58667rem;
}
#djjd-app .other-content .info-item .title-line .title-index {
    font-family: HarmonyOS Sans SC;
    font-weight: 400;
    line-height: 0.50667rem;
    color: #ec3529;
    margin-right: 0.10667rem;
}
#djjd-app .other-content .info-item .title-line .title {
    color: #222222;
    font-weight: 700;
}
#djjd-app .other-content .info-item .summary {
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    line-height: 0.53333rem;
    margin-top: 0.16rem;
    color: #666666;
    min-height: 0.53333rem;
}
#djjd-app .other-content .info-item + .info-item {
    margin-top: 0.50667rem;
}
.icon-right {
    width: 0.18667rem;
}
#jrrd-app {
    position: relative;
    z-index: 1;
    padding: 0 0.26667rem;
    margin-top: 0.21333rem;
    width: 100%;
}
#jrrd-app .card {
    padding-right: 0rem;
}
#jrrd-app .card .card-header {
    padding-right: 0.32rem;
}
#jrrd-app .card .card-header > div:last-child {
    margin-right: 0;
}
#jrrd-app .fkbk-content .fkbk-header {
    margin-top: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.32rem;
}
#jrrd-app .fkbk-content .fkbk-header .fkbk-tag {
    display: flex;
    align-items: center;
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 500;
    color: #cf723c;
    background: #fcf2e6;
    border-radius: 0.53333rem;
    padding: 0.02667rem 0.16rem 0.02667rem 0.02667rem;
    line-height: 0.45333rem;
}
#jrrd-app .fkbk-content .fkbk-header .fkbk-tag > img {
    width: 0.42667rem;
    height: 0.42667rem;
    margin-right: 0.05333rem;
}
#jrrd-app .fkbk-content .hot-content {
    overflow-x: auto;
    display: flex;
    width: 100%;
    white-space: nowrap;
    margin-top: 0.32rem;
    padding-right: 0.32rem;
}
#jrrd-app .fkbk-content .hot-content .gradient-border {
    flex: none;
    width: 6.98667rem;
    padding: 0.01333rem;
    border-radius: 0.21333rem;
    background: linear-gradient(180deg, #ffeedd 0%, rgba(255, 230, 204, 0.34) 97.31%);
}
#jrrd-app .fkbk-content .hot-content .hot-card {
    padding: 0.32rem;
    width: 100%;
    border-radius: 0.21333rem;
    background: linear-gradient(360deg, #fffefc 66%, #fffaf5 101.47%);
}
#jrrd-app .fkbk-content .hot-content .hot-card .hot-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#jrrd-app .fkbk-content .hot-content .hot-card .hot-card-header .hot-name {
    display: flex;
    font-family: PingFang SC;
    font-size: 0.42667rem;
    font-weight: 500;
    line-height: 0.58667rem;
}
#jrrd-app .fkbk-content .hot-content .hot-card .hot-card-header .hot-name > img {
    width: 0.53333rem;
    height: 0.53333rem;
    margin-right: 0.16rem;
    margin-top: 0.02667rem;
}
#jrrd-app .fkbk-content .hot-content .hot-card .hot-card-header .hot-rate {
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 500;
    color: #ec3529;
    display: flex;
    align-items: center;
}
#jrrd-app .fkbk-content .hot-content .hot-card .hot-card-header .hot-rate > div:first-child {
    margin-right: 0.10667rem;
}
#jrrd-app .fkbk-content .hot-content .hot-card .hot-card-content {
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    margin-top: 0.21333rem;
    line-height: 0.58667rem;
}
#jrrd-app .fkbk-content .hot-content .hot-card .hot-card-stocks {
    display: flex;
    margin-top: 0.21333rem;
    height: 0.56rem;
}
#jrrd-app .fkbk-content .hot-content .hot-card .hot-card-stocks .stock-tag {
    border-radius: 0.05333rem;
}
#jrrd-app .fkbk-content .hot-content .hot-card .hot-card-stocks .stock-name {
    color: #666666;
}
#jrrd-app .fkbk-content .hot-content .gradient-border + .gradient-border {
    margin-left: 0.21333rem;
}
#jrrd-app .dzjd-content {
    margin-top: 0.53333rem;
}
#jrrd-app .dzjd-content .dzjd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.32rem;
}
#jrrd-app .dzjd-content .dzjd-header .dzjd-tag {
    display: flex;
    align-items: center;
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 500;
    color: #cf453c;
    background: #fceae8;
    border-radius: 0.53333rem;
    padding: 0.02667rem 0.16rem 0.02667rem 0.02667rem;
    line-height: 0.45333rem;
}
#jrrd-app .dzjd-content .dzjd-header .dzjd-tag > img {
    width: 0.42667rem;
    height: 0.42667rem;
    margin-right: 0.05333rem;
}
#jrrd-app .dzjd-content .four-card {
    position: relative;
    margin-top: 0.32rem;
    display: flex;
}
#jrrd-app .dzjd-content .four-card .list-content {
    display: flex;
    align-items: center;
    border-radius: 0.21333rem;
    padding: 0.21333rem 0;
    background: #f8f9fb;
    position: relative;
}
#jrrd-app .dzjd-content .four-card .list-content .stock-item {
    width: 2.18667rem;
    height: 1.01333rem;
    position: relative;
    z-index: 2;
}
#jrrd-app .dzjd-content .four-card .list-content .stock-name {
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    text-align: center;
    color: #666666;
    line-height: 0.53333rem;
}
#jrrd-app .dzjd-content .four-card .list-content .actived .stock-name {
    color: #222222;
}
#jrrd-app .dzjd-content .four-card .list-content .up-rate {
    font-family: HarmonyOS Sans SC;
    font-size: 0.37333rem;
    font-weight: 400;
    text-align: center;
    color: #ec3529 !important;
    margin-top: 0.05333rem;
    line-height: 0.42667rem;
}
#jrrd-app .dzjd-content .four-card .list-content .rate {
    color: #10a361;

    font-family: HarmonyOS Sans SC;
    font-size: 0.37333rem;
    font-weight: 400;
    text-align: center;

    margin-top: 0.05333rem;
    line-height: 0.42667rem;
}
#jrrd-app .dzjd-content .four-card .mark {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 2.18667rem;
    transition: left 0.2s;
}
#jrrd-app .dzjd-content .four-card .mark > img {
    width: 100%;
}
#jrrd-app .dzjd-content .up-reason {
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    background: #222222;
    margin-top: 0.32rem;
    padding: 0.32rem;
    background: #fffafa;
    border-radius: 0.21333rem;
    line-height: 0.58667rem;
    margin-right: 0.32rem;
}
#dcjh-app {
    padding: 0 0.26667rem;
    margin-top: 0.21333rem;
}
#dcjh-app .card .card-header > div:last-child {
    margin-right: 0;
}
#dcjh-app .tcwj-content .tcwj-header {
    margin-top: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#dcjh-app .tcwj-content .tcwj-header .tcwj-tag {
    display: flex;
    align-items: center;
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 500;
    color: #327ae5;
    background: #f8f9fb;
    border-radius: 0.53333rem;
    padding: 0.02667rem 0.16rem 0.02667rem 0.02667rem;
    font-family: PingFang SC;
    line-height: 0.45333rem;
}
#dcjh-app .tcwj-content .tcwj-header .tcwj-tag > img {
    width: 0.42667rem;
    height: 0.42667rem;
    margin-right: 0.05333rem;
}
#dcjh-app #swiper-container-tcwj {
    position: relative;
    margin-top: 0.32rem;
    width: 100%;
    overflow: hidden;
    padding-bottom: 0.18667rem;
}
#dcjh-app #swiper-container-tcwj .pagination .swiper-pagination {
    bottom: 0rem;
}
#dcjh-app .article-item .content {
    font-family: PingFang SC;
    font-size: 0.42667rem;
    font-weight: 400;
    line-height: 0.64rem;
}
#dcjh-app .article-item .content > span {
    display: inline-block;
    background: #327ae5;
    padding: 0rem 0.10667rem;
    border-radius: 0.05333rem;
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 500;
    color: #ffffff;
    margin-right: 0.10667rem;
    height: 0.45333rem;
    line-height: 0.45333rem;
    vertical-align: text-top;
    margin-top: 0.07333rem;
}
#dcjh-app .stock-content {
    margin-top: 0.21333rem;
    display: flex;
}
#dcjh-app .stock-tag {
    border-radius: 0.05333rem;
}
#dcjh-app .stock-name {
    font-size: 0.32rem;
    font-weight: 400;
    color: #666666;
}
#dcjh-app .qfrl-content {
    margin-top: 0.21333rem;
    width: 100%;
    padding: 0.21333rem 0.32rem;
    display: flex;
    align-items: center;
    background: #f8f9fb;
    border-radius: 0.21333rem;
}
#dcjh-app .qfrl-content .qfrl-title {
    margin-right: 0.32rem;
}
#dcjh-app .qfrl-content .qfrl-title > img {
    width: 1.68rem;
    display: block;
}
#dcjh-app .qfrl-content #swiper-container-qfrl {
    overflow: hidden;
}
#dcjh-app .qfrl-content #swiper-container-qfrl .swiper-wrapper {
    height: 0.53333rem;
}
#dcjh-app .qfrl-content #swiper-container-qfrl .swiper-slide {
    padding-bottom: 0.02667rem;
}
#dcjh-app .qfrl-content #swiper-container-qfrl .swiper-slide .ellipsis {
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    color: #222222;
    line-height: 0.53333rem;
}
#dcjh-app .qfrl-content #swiper-container-qfrl .swiper-slide .ellipsis > span {
    color: #327ae5;
}
#yw-list-app {
    margin-top: 0.21333rem;
    padding: 0 0.26667rem;
    padding-bottom: 0.26667rem;
}
#yw-list-app .card {
    padding: 0 0.32rem;
}
#yw-list-app .yw-item {
    padding: 0.32rem 0;
}
#yw-list-app .yw-item .yw-title {
    font-family: PingFang SC;
    font-size: 0.42667rem;
    font-weight: 400;
    line-height: 0.64rem;
    color: #222222;
}
#yw-list-app .yw-item .yw-source-time {
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999999;
    margin-top: 0.21333rem;
}
#yw-list-app .yw-item + .yw-item {
    border-top: 0.01333rem solid #f5f6f7;
}
#yw-list-app .tggd-card {
    padding: 0.32rem;
    padding-right: 0;
    background: linear-gradient(180deg, #fffbf6 0%, rgba(255, 252, 247, 0.5) 100%);
    border-radius: 0.21333rem;
    border: 0.01333rem solid #ffeedd;
}
#yw-list-app .tggd-card .tggd-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.32rem;
}
#yw-list-app .tggd-card .tggd-header > div {
    font-family: PingFang SC;
    font-size: 0.42667rem;
    font-weight: 500;
    line-height: 0.58667rem;
    color: #724109;
}
#yw-list-app .tggd-card .tggd-list-content {
    margin-top: 0.21333rem;
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    overflow-y: hidden;
    padding-right: 0.32rem;
}
#yw-list-app .tggd-card .tggd-list-content .tggd-card-item {
    width: 7.70667rem;
    height: 3.30667rem;
    padding: 0.32rem;
    background: #ffffff;
    display: block;
    flex: none;
    border: 0.01333rem solid rgba(245, 246, 247, 0.5);
    border-radius: 0.21333rem;
}
#yw-list-app .tggd-card .tggd-list-content .tggd-card-item .tggd-card-item-header {
    display: flex;
}
#yw-list-app .tggd-card .tggd-list-content .tggd-card-item .tggd-card-item-header > img {
    border-radius: 50%;
    width: 0.64rem;
    height: 0.64rem;
    margin-right: 0.21333rem;
}
#yw-list-app .tggd-card .tggd-list-content .tggd-card-item .tggd-card-item-header > div {
    font-family: PingFang SC;
    font-size: 0.42667rem;
    font-weight: 400;
    line-height: 0.58667rem;
    color: #222222;
}
#yw-list-app .tggd-card .tggd-list-content .tggd-card-item .content {
    margin-top: 0.18667rem;
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    height: 1.25rem;
    line-height: 0.58667rem;
    color: #666666;
}
#yw-list-app .tggd-card .tggd-list-content .tggd-card-item .extra {
    margin-top: 0.21333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#yw-list-app .tggd-card .tggd-list-content .tggd-card-item .extra .extra-tag {
    padding: 0rem 0.10667rem;
    border-radius: 0.05333rem;
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    color: #cf723c;
    background: #fffaf5;
}
#yw-list-app .tggd-card .tggd-list-content .tggd-card-item .extra .read-num {
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
    color: #999999;
}
#yw-list-app .tggd-card .tggd-list-content .tggd-card-item + .tggd-card-item {
    margin-left: 0.21333rem;
}
#yw-list-app .tjtg-card {
    padding: 0.32rem;
    background: linear-gradient(180deg, #fff6f3 0%, #fffaf9 100%);
    border:  0.5px solid  #FCE9E3;
    /* border-image-source: linear-gradient(180deg, #fce9e3 0%, #fff8f5 100%); */
    border-radius: 0.21333rem;
}
#yw-list-app .tjtg-card .tjtg-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#yw-list-app .tjtg-card .tjtg-header > div {
    font-family: PingFang SC;
    font-size: 0.42667rem;
    font-weight: 500;
    line-height: 0.58667rem;
    color: #520b06;
}
#yw-list-app .tjtg-card .tjtg-list-content {
    margin-top: 0.21333rem;
    white-space: nowrap;
    overflow-x: auto;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item {
    display: inline-block;
    background: #ffffff;
    border-radius: 0.10667rem;
    padding: 0.32rem;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-info {
    display: flex;
    align-items: center;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-info .avatar {
    margin-right: 0.21333rem;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-info .avatar > img {
    width: 1.12rem;
    height: 1.12rem;
    display: block;
    border-radius: 50%;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-info .user-name-tag .user-name {
    font-family: PingFang SC;
    font-size: 0.42667rem;
    font-weight: 500;
    line-height: 0.58667rem;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-info .user-name-tag .tag {
    margin-top: 0.10667rem;
    padding: 0rem 0.10667rem;
    border-radius: 0.05333rem;
    color: #cf723c;
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
    background: linear-gradient(274.29deg, #ffe9cf 0.75%, #ffebd3 97.98%);
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-data {
    margin-top: 0.32rem;
    display: flex;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-data .data-item .value {
    font-family: HarmonyOS Sans SC;
    font-size: 0.42667rem;
    font-weight: 400;
    line-height: 0.50667rem;
    color: #222222;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-data .data-item .label {
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 400;
    line-height: 0.45333rem;
    color: #999999;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-data .data-item .red {
    color: #ec3529;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-data .data-item:first-child {
    width: 1.6rem;
}
#yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item + .tjtg-card-item {
    margin-left: 0.24rem;
}
#yw-list-app .tjtg-card:last-child {
    margin-bottom: 0.32rem;
}
.hot-process {
    display: flex;
    align-items: center;
}
.hot-process > span {
    width: 0.21333rem;
    height: 0.08rem;
    background: #cccccc;
    margin-left: 0.02667rem;
    background: rgba(236, 53, 41, 0.24);
}
.hot-process > span.active {
    background: #ec3529;
}
.hot-process > span:nth-child(1) {
    border-radius: 0.10667rem 0rem 0rem 0.10667rem;
}
.hot-process > span:nth-child(5) {
    border-radius: 0rem 0.10667rem 0.10667rem 0rem;
}
.audio-tag .audio-content {
    background: linear-gradient(269.96deg, #f2e6e0 14.87%, rgba(239, 223, 214, 0) 98.2%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.10667rem;
    padding: 0.05333rem 0.10667rem 0.02667rem 0;
}
.audio-tag .audio-content .progress-btn {
    display: flex;
    align-items: center;
    flex: auto;
}
.audio-tag .audio-content .play-btn {
    margin-left: -0.05333rem;
    position: relative;
    z-index: 1;
}
.audio-tag .audio-content .play-btn > img {
    width: 0.48rem;
    height: 0.48rem;
    display: block;
}
.audio-tag .audio-content .progress-bar {
    position: relative;
    margin-left: -0.18667rem;
    flex: auto;
}
.audio-tag .audio-content .progress-bar .bg {
    width: 100%;
    height: 0.05333rem;
    border-radius: 0.29333rem;
    opacity: 0.24;
    background: #cf723c;
}
.audio-tag .audio-content .progress-bar .reality-bar {
    position: absolute;
    height: 0.05333rem;
    border-radius: 0.29333rem;
    top: 0;
    /* left: 0.18667rem; */
    background: #cf723c;
}
.audio-tag .audio-content .audio-time {
    font-family: HarmonyOS Sans SC;
    font-size: 0.32rem;
    font-weight: 400;
    color: #cf723c;
    margin-left: 0.10667rem;
}
.no-login {
    width: 100%;
    margin: 0.21333rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 0.32rem;
    border-radius: 0.26667rem;
}
.no-login .tip {
    display: flex;
    align-items: center;
    font-family: PingFang SC;
    font-size: 0.37333rem;
    font-weight: 400;
    line-height: 0.53333rem;
    color: #222222;
}
.no-login .tip::before {
    content: '';
    display: block;
    width: 0.13333rem;
    height: 5px;
    border-radius: 50%;
    background: #ec3529;
    margin-right: 0.21333rem;
}
.no-login .open-btn {
    padding: 0.05333rem 0.21333rem 2px 0.21333rem;
    border-radius: 0.88rem;
    font-family: PingFang SC;
    font-size: 0.32rem;
    font-weight: 500;
    line-height: 0.45333rem;
    background: #ec3529;
    color: #ffffff;
}
.nine-chequer-group {
    padding: 0 0rem 0 0.08rem;
}
.nine-chequer-list {
    width: 1.6rem;
    height: 1.41333rem;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0.18667rem;
    margin-bottom: 8px;
}
.nine-chequer-list > em {
    font-size: 0.32rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
    color: #222222;
    margin-top: 0.10667rem;
}
.banner {
    position: relative;
    z-index: 2;
    /* 切换导致页面晃动，需要限制 */
    overflow: hidden;
    width: 100%;
    padding: 0 0.26667rem;
    margin-top: 0.21333rem;
    border-radius: 0.21333rem;
}
.kg{
    width:1.813rem;
    height: 0.586rem;

}

html[data-typeversion="old"].kx-tgjp{
    margin-top: 0.187rem;
}
html[data-typeversion="old"] .nine-chequer-list {
width: 3.3rem;
height: 1.94rem;
float: left;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
margin: 0 0;
margin-bottom:0.32rem;
}
html[data-typeversion="old"] .nine-chequer-list .icon-img{
    width: 1.173rem;
  height: 1.173rem;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

}
html[data-typeversion="old"] .nine-chequer-list > em{
    color: #222222;
    font-size:0.48rem;

}
/* 快讯 */
html[data-typeversion="old"] .kx-tgjp .kx .kx-header .name{
    font-size: 0.48rem !important;
    top: 0.4rem;
}
html[data-typeversion="old"] .kx-tgjp .kx .kx-header .time{
    font-size: 0.42rem !important;
    top: 0.56rem;
}
html[data-typeversion="old"] .kx-tgjp .kx .content{
    color: #222222;
    top: 1.21rem;
    font-size:0.48rem;
    line-height: 0.69rem;

}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card + .notice-card{
    margin-left: 0.31333rem;
}
html[data-typeversion="old"] .kx-tgjp .tgjp .tgjp-card{
padding-top: 0.48rem;
}
html[data-typeversion="old"] .kx-tgjp .tgjp .rdzx-card{
    padding-top: 0.42rem;
}
html[data-typeversion="old"]  .kx-tgjp .tgjp .tgjp-card .tgjp-header .avatar{
    width: .559rem;
    height: .559rem;
}
html[data-typeversion="old"] .kx-tgjp .tgjp .rdzx-card .content{
    font-size: 0.48rem;
    margin-top: 0.02rem;
}

html[data-typeversion="old"] .kx-tgjp .tgjp .tgjp-card .tgjp-header .left{
    font-size: 0.48rem !important;
}
html[data-typeversion="old"] .kx-tgjp .tgjp .tgjp-card .hf-tag, .kx-tgjp .tgjp .tgjp-card .yy-tag{
    font-size: 0.42rem !important;
    line-height: 0.59333rem;
}
html[data-typeversion="old"] .kx-tgjp .tgjp .tgjp-card .content{
    color: #222222;

    margin-top:0.16rem;
    font-size:0.48rem;
    line-height: 0.69rem;
}
html[data-typeversion="old"] .kx-tgjp .tgjp .rdzx-card .card-title{
    font-size:0.48rem;
    color: #222222;
    line-height: 0.672rem;
}
html[data-typeversion="old"] .kx-tgjp .tgjp .rdzx-card .title{
    font-size:0.48rem;
    color: #222222;
    line-height: 0.69rem;
}
html[data-typeversion="old"] .kx-tgjp .tgjp .zb-card .sub{
    height: 0.66rem;
    padding-left: 1.173rem;
}
html[data-typeversion="old"] .kx-tgjp .tgjp .zb-card .sub > img{
    height: 0.8rem;
   left: -0.02667rem;
   
}
html[data-typeversion="old"] .kx-tgjp .tgjp .zb-card .sub .count{
    font-size:0.42rem;
    margin-left: 0.26rem;
}
html[data-typeversion="old"] .kg{
    width:2.4rem;
    height: 0.773rem;

}
html[data-typeversion="old"]  #kx-tgjp-app .card .card-header > div:last-child{
    font-size:0.42rem;
}
html[data-typeversion="old"] #djjd-app .card .card-header > div:last-child {
    font-size:0.42rem;
}
html[data-typeversion="old"]   #jrrd-app .card .card-header > div:last-child {
    font-size:0.42rem;
}
html[data-typeversion="old"]  #dcjh-app .card .card-header > div:last-child{
    font-size:0.42rem;
}
html[data-typeversion="old"]  #yw-list-app .card .card-header > div:last-child{
    font-size:0.42rem;
}
html[data-typeversion="old"] #kx-tgjp-app .card .card-header > div:last-child .icon-right{
    top: 0.11rem;
}
html[data-typeversion="old"] #djjd-app .card .card-header > div:last-child .icon-right{
    top: 0.11rem;
}
html[data-typeversion="old"] #jrrd-app .card .card-header > div:last-child .icon-right{
    top: 0.11rem;
}
html[data-typeversion="old"]  #dcjh-app .card .card-header > div:last-child .icon-right{
    top: 0.11rem;
}
html[data-typeversion="old"]   #yw-list-app .card .card-header > div:last-child .icon-right{
    top: 0.11rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card .card-title > img{
width: 0.58rem;
height: 0.58rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card .card-title{
    font-size: 0.48rem;
    line-height: 0.672rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card .content{
    line-height: 0.69rem;
font-size: 0.48rem;
padding-top: 0.08rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card .content-tag{
    line-height: 0.69rem;
    font-size: 0.48rem;

}
html[data-typeversion="old"] #jrrd-app .fkbk-content .hot-content .hot-card .hot-card-stocks{
 padding: 0.053rem 0;
 padding-bottom: 0.667rem;
 /* margin-top: 0.16rem; */
}
html[data-typeversion="old"] #jrrd-app .fkbk-content .hot-content .gradient-border{
margin-top: 0.16rem;
margin-bottom: 0.146rem;

border:  0.5px solid  ;
border-image-source: linear-gradient(180deg, #fce9e3 0%, #fff8f5 100%);
}
html[data-typeversion="old"] #jrrd-app .fkbk-content .fkbk-header{
margin-bottom: 0.106rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card{
    height: 4.02rem;
    padding-top: 0.4rem;
}
html[data-typeversion="old"] #djjd-app .other-content .info-item + .info-item{
margin-top: 0.373rem;
}
html[data-typeversion="old"] #djjd-app .tabs .tabs-item{
/* width: 2.56rem; */
height: 0.88rem;
/* Padding:0.106rem 0.32rem; */
font-size: 0.48rem;
text-align: center;
line-height:0.62rem !important;
}
html[data-typeversion="old"] #kx-tgjp-app .card .card-header > div:first-child{
    font-size: 0.53rem;
    
    }  
    html[data-typeversion="old"] #djjd-app .card .card-header > div:first-child{
    font-size: 0.53rem;
    
    } 
    html[data-typeversion="old"] #jrrd-app .card .card-header > div:first-child{
    font-size: 0.53rem;
    
    } 
    html[data-typeversion="old"] #dcjh-app .card .card-header > div:first-child{
    font-size: 0.53rem;
    
    } 
    html[data-typeversion="old"] #yw-list-app .card .card-header > div:first-child{
font-size: 0.53rem;

} 
html[data-typeversion="old"] #jrrd-app .fkbk-content .fkbk-header .fkbk-tag{
font-size: 0.42rem;
line-height: 0.59rem;
font-weight: 500;
}
html[data-typeversion="old"] #jrrd-app .fkbk-content .fkbk-header .fkbk-tag > img{
    width: 0.53rem;
    height: 0.53rem;
}
html[data-typeversion="old"] #jrrd-app .fkbk-content .hot-content .hot-card .hot-card-header .hot-name > img{
    width: 0.47rem;
    height: 0.546rem;
    margin-top: 0.053rem;

}
html[data-typeversion="old"]  #jrrd-app .fkbk-content .hot-content .hot-card .hot-card-header .hot-name{
    font-size: 0.53rem;
    padding-top: 0.10667rem;
    padding-bottom: 0.16000rem;
}
html[data-typeversion="old"] #jrrd-app .fkbk-content .hot-content .hot-card .hot-card-header .hot-rate{
    font-size: 0.42rem;
    font-weight: 500;
}
html[data-typeversion="old"] #jrrd-app .fkbk-content .hot-content .hot-card .hot-card-content{

    font-size: 0.48rem;
    line-height: 0.74rem;
}
html[data-typeversion="old"] .stock-tag .rate{
    font-size: 0.42rem;
}
html[data-typeversion="old"] #jrrd-app .fkbk-content .hot-content .hot-card .hot-card-stocks .stock-name{
    font-size: 0.42rem;
}
html[data-typeversion="old"] #jrrd-app .dzjd-content .dzjd-header .dzjd-tag > img{
    width: 0.53rem;
    height: 0.53rem;
}
html[data-typeversion="old"] #jrrd-app .dzjd-content .dzjd-header{
padding-bottom: 0.106rem;
}
html[data-typeversion="old"] #jrrd-app .dzjd-content .dzjd-header .dzjd-tag{
    font-size: 0.42rem;
line-height: 0.59rem;
font-weight: 500;
padding-top: 0.052rem;
}
html[data-typeversion="old"] #jrrd-app .dzjd-content .four-card .list-content .stock-item{
width: 2.93rem;
height: 1.72rem;
}
html[data-typeversion="old"] #jrrd-app .dzjd-content .four-card .mark{
    width: 2.93rem;
height: 1.81rem;
}
html[data-typeversion="old"] #jrrd-app .dzjd-content .four-card .list-content .stock-name{
    font-size: 0.48rem;
    line-height: 0.7rem;
    padding-top: 0.106rem;
}
html[data-typeversion="old"] #jrrd-app .dzjd-content .four-card .list-content .rate{
    font-size: 0.48rem;
    line-height: 0.56rem;
    margin-top: 0.073rem;
}
html[data-typeversion="old"] #jrrd-app .dzjd-content .four-card .list-content{
    padding: 0.213rem 0 0 0 ;
    border-radius: 0.213rem;
    height: 1.72rem;
}
html[data-typeversion="old"] #jrrd-app .dzjd-content .four-card .mark > img{
    height: 1.81rem;
}
html[data-typeversion="old"] #jrrd-app .dzjd-content .up-reason{
    font-size: 0.48rem;
    line-height: 0.74rem;
    padding: 0.42rem 0.32rem;
}
html[data-typeversion="old"] #jrrd-app .card{
padding-bottom: 0.42rem;
}
html[data-typeversion="old"] #dcjh-app .tcwj-content .tcwj-header .tcwj-tag{
    font-size: 0.42rem;
    line-height: 0.59rem;
    font-weight: 500;
}
html[data-typeversion="old"] #dcjh-app .tcwj-content .tcwj-header{
    padding-bottom: 0.13333rem;
}
html[data-typeversion="old"] #dcjh-app .tcwj-content .tcwj-header .tcwj-tag > img{
    width: 0.53rem;
    height: 0.53rem;
}
html[data-typeversion="old"] #dcjh-app .article-item .content{
    font-size: 0.53rem;
    line-height: 0.8rem;
}
html[data-typeversion="old"] #dcjh-app .article-item .content > span{
font-size: 0.42rem;
line-height: 0.59rem;
height: 0.586rem;

}
html[data-typeversion="old"] #dcjh-app .stock-name{
    font-size: 0.42rem;
    line-height: 0.59rem;
  
}
html[data-typeversion="old"] #dcjh-app #dcjh-app .qfrl-content .qfrl-title > img{
    font-size: 0.48rem;
    line-height: 0.672rem;
}
html[data-typeversion="old"] #dcjh-app .qfrl-content{
    font-size: 0.48rem;
    line-height: 0.672rem;
    padding-top: 0.3rem;
    height: 1.09rem;


}
html[data-typeversion="old"] #dcjh-app .pagination{
padding-bottom: 0.106rem;
}
html[data-typeversion="old"] #dcjh-app .qfrl-content #swiper-container-qfrl .swiper-slide .ellipsis{
    font-size: 0.48rem;
    /* line-height: 0.672rem; */
}
html[data-typeversion="old"] #dcjh-app .qfrl-content .qfrl-title > img{
    width: 1.97rem;
}
html[data-typeversion="old"] #yw-list-app .yw-item .yw-title{
    font-size: 0.53rem;
    line-height: 0.8rem;
  

}
html[data-typeversion="old"] #yw-list-app .yw-item{
 padding: 0.426rem 0 0.32rem 0;
}
html[data-typeversion="old"] #yw-list-app .yw-item .yw-source-time{
    font-size: 0.42rem;
    line-height: 0.59rem;
    padding-bottom: 0.08000rem;
    padding-top: 0.133rem;
}

html[data-typeversion="old"] #yw-list-app .tggd-card .tggd-header{
    font-size: 0.53rem;
    line-height: 0.74rem;
    padding-top: 0.10667rem;
    padding-bottom: 0.13333rem;
}
html[data-typeversion="old"] #yw-list-app .tggd-card .tggd-list-content .tggd-card-item .extra{
height: 0.69333rem;
}
html[data-typeversion="old"] #yw-list-app .tggd-card .tggd-list-content .tggd-card-item .tggd-card-item-header > div{
    font-size: 0.53rem;
    line-height: 0.74rem;
}
html[data-typeversion="old"] #yw-list-app .tggd-card .tggd-list-content .tggd-card-item .tggd-card-item-header > img{
    width: 0.7rem;
    height: 0.7rem;
}
html[data-typeversion="old"] #yw-list-app .tggd-card .tggd-list-content .tggd-card-item .content{
    font-size: 0.48rem;
    line-height: 0.74rem;
    margin-bottom: 0.213rem;
    height: 1.71rem;
    padding-top: 0.187rem;
}
html[data-typeversion="old"] #jrrd-app .fkbk-content .hot-content .hot-card .hot-card-stocks .stock-tag{
    font-size: 0.42rem;
    line-height: 0.69rem;
  
    height: 0.69rem;
}
html[data-typeversion="old"] #yw-list-app .tggd-card .tggd-list-content .tggd-card-item .extra .extra-tag{
    font-size: 0.42rem;
    line-height: 0.69rem;
    /* width: 4.96rem; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 0.69rem;

}

html[data-typeversion="old"] .kx-tgjp .tgjp .zb-card .sub .time{
    font-size: 0.42rem;
}

html[data-typeversion="old"] #yw-list-app .tggd-card .tggd-list-content .tggd-card-item .extra .read-num{
    font-size: 0.42rem;
    line-height: 0.59rem;
 padding-left: 8px;

}

html[data-typeversion="old"] #yw-list-app .tggd-card{
  padding-bottom: 0.426rem;
}
html[data-typeversion="old"] #yw-list-app .tggd-card .tggd-list-content .tggd-card-item{
    height: 4.32rem;
    width: 7.76rem;
    border: 0.5px solid #f5f6f7;
    padding: 0.42rem 0.32rem;
    /* padding-bottom: 0.00000rem; */
}

html[data-typeversion="old"] #yw-list-app .tjtg-card .tjtg-header > div{
    font-size: 0.53rem;
    line-height: 0.74rem;
    padding-top: 0.10667rem;
    padding-bottom: 0.13333rem;
}

html[data-typeversion="old"] #yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-info{
display: block;
text-align: center;
}
html[data-typeversion="old"] #yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-info .avatar > img{
    /* margin: auto;
    padding: 0.106rem 0  0 0.106rem; */
    margin: 0.106rem 0 0 1.106rem;
}
html[data-typeversion="old"] #yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-info .user-name-tag .user-name{
    font-size: 0.53rem;
    line-height: 0.74rem;
    margin: 0.106rem auto;
    padding-top: 0.131rem;
    margin-bottom: 0.052rem;
}
html[data-typeversion="old"] #yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-data{
    margin-top:0.34rem;
    padding-left: 0.053rem;
}
html[data-typeversion="old"] #yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-info .user-name-tag .tag{
    width: 1.9rem;
    height: 0.58rem;
    margin: auto;
    line-height: 0.5rem;
    font-size: 0.42rem;
    padding-top: 0.07rem;
    color: #724109;
    margin-top: 0.106rem;
}
html[data-typeversion="old"] #yw-list-app .tjtg-card{
    padding-bottom: 0.426rem;
}
html[data-typeversion="old"] #yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item{
    width: 3.95rem;
    height: 5.14rem;
   text-align: center;
   padding-bottom: 0.16rem;
}
html[data-typeversion="old"] #yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-data .data-item:first-child{
    /* margin: auto; */
}
html[data-typeversion="old"] #yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-data .data-item .value{
    margin-left: 0.493rem;
    font-size: 0.53rem;
    line-height: 0.62rem;
}
html[data-typeversion="old"] #yw-list-app .tjtg-card .tjtg-list-content .tjtg-card-item .tjtg-card-item-data .data-item .label{
    margin-left: 0.49rem;
    font-size: 0.42rem;
    line-height: 0.59rem;
}

html[data-typeversion="old"] #yw-list-app .tggd-card .tggd-header > div{
    font-size: 0.53rem;
    line-height: 0.74rem;

}
html[data-typeversion="old"] .no-login{
    padding-top: 0.396rem;
    height: 1.52rem;
    padding-bottom: 0.4rem;
    margin-bottom: 0.28rem;
}

html[data-typeversion="old"] #djjd-app .card{
margin-top: 0.213rem;
}

html[data-typeversion="old"] .no-login .tip{
font-size: 0.48rem;
line-height: 0.672rem;
}
html[data-typeversion="old"] .no-login .tip::before{
    height: 0.16rem;
    width: 0.16rem;
}
html[data-typeversion="old"] .no-login .open-btn{
font-size: 0.42rem;
line-height: 0.59rem;
padding: 0.07333rem 0.21333rem 2px 0.21333rem;
}
html[data-typeversion="old"] #djjd-app .other-content .info-item .title-line{
font-size: 0.53rem;
line-height: 0.74rem;
padding-bottom: 0.08000rem;
}
html[data-typeversion="old"] #djjd-app .other-content .info-item .summary{
 font-size: 0.48rem !important;
 line-height: 0.672rem !important;
 padding-left: 0.53333rem;
}
html[data-typeversion="old"] #djjd-app .other-content .info-item .title-line .title-index{
  line-height: 0.62rem;
  font-size: 0.53rem; 
}
html[data-typeversion="old"] #djjd-app .tabs{
  overflow-y: hidden;
  padding-bottom: 0.13333rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .more-btn{
    font-size: 0.42rem;
    line-height: 0.69rem;
    height: 4.02rem;
 width: 1.06rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .line{
 height: 0.0133rem;
 bottom: 0.23rem;
}

html[data-typeversion="old"] #djjd-app .notice-content{
    height: 4.88rem;
}
html[data-typeversion="old"] #jrrd-app .fkbk-content .hot-content{
margin-top: 0.2667rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card .time{
    font-size: 0.37rem;
    bottom: -0.81333rem;
    padding: 0.073rem 0.10667rem 0.053rem 0.10667rem;
    /* line-height:0.46rem; */
}
html[data-typeversion="old"] #jrrd-app .fkbk-content .hot-content .hot-card{
padding-top: 0.373rem;
padding-bottom: 0.42rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card .author{
font-size: 0.42rem;
line-height: 0.59rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card .audio-tag{
    margin-top: 0.3033rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card .stock-tag{
    margin-top: 0.3033rem;
}
html[data-typeversion="old"] .audio-tag .audio-content .audio-time{
    font-size: 0.42rem;
}
html[data-typeversion="old"] .stock-tag .stock-name{
    font-size: 0.42rem;
line-height: 0.59rem;
color: #666666;
}
html[data-typeversion="old"] .audio-tag .audio-content{
height: 0.69rem;

}
html[data-typeversion="old"] .audio-tag .audio-content .play-btn > img{
width: 0.53rem;
height: 0.53rem;
}
html[data-typeversion="old"] #djjd-app .notice-content .notice-card .author{
    margin-top: 0.3033rem;
}
html[data-typeversion="old"] #djjd-app .card .card-header{
    padding-top: 0.10667rem;
    padding-bottom: 0.10667rem;
}
html[data-typeversion="old"] #djjd-app .other-content .info-item{
 padding-top: 0.10667rem;
 padding-bottom: 0.13333rem;
}
html[data-typeversion="old"] #djjd-app .other-content{
    padding-bottom: 0.4rem;
}
html[data-typeversion="old"] #jrrd-app .card .card-header{

padding-top: 0.18667rem;
padding-bottom: 0.18667rem;

}
html[data-typeversion="old"] #dcjh-app .card .card-header{
    padding-top: 0.18667rem;
    padding-bottom: 0.18667rem;
}
html[data-typeversion="old"] #djjd-app{
    padding-top: 0.0533rem;
    margin-top: 0rem;
 
}
html[data-typeversion="old"] #banner-block{
    padding-top: 0.0533rem;
 
}
html[data-typeversion="old"] #jrrd-app{
    padding-top: 0.0533rem;
 
}
html[data-typeversion="old"] #dcjh-app{
    padding-top: 0.0533rem;
 
}
html[data-typeversion="old"] #yw-list-app{
    padding-top: 0.0533rem;
}
.mescroll-downwarp{
    background: #fff !important;
}

html[data-typeversion="old"] .icon-right{
  padding-bottom: 0.08rem;
  padding-top: 0.077rem;
}

html[data-typeversion="old"]  #jrrd-app .dzjd-content{
    margin-top:0.47rem;
}