/* 弹窗体 */
.pass-tc {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}
/* 弹窗遮罩层 */
.pass-tc .pass-tc-bg {
	background: #000;
	opacity: .4;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
/* 弹窗盒子 */
.pass-tc .pass-tc-box {
	width: 6rem;
	margin: -3rem 0 0 -3rem;
	background: #fff;
	border-radius: .2rem;
	position: fixed;
	top: 50%;
	left: 50%;
	text-align: center;
}
/* 弹窗标题 */
.pass-tc-box .pass-tc-title {
	height: 1.08rem;
	line-height: 1.08rem;
	padding: .04rem 0;
	background: #F6F8F9;
	color: #3C3759;
	text-align: center;
	font-weight: bold;
	font-size: .32rem;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
}
/* 弹窗提示语 */
.pass-tc-box .pass-tc-message {
	padding: .2rem .6rem;
	font-size: .32rem;
	text-align: center;
	line-height: .32rem;
	color: #303030;
}
/* 弹窗icon */
.pass-tc-box .pass-tc-pic {
	width: 100%;
	height: 1rem;
	margin-top: .6rem;
}
/* 失败icon */
.pass-tc-box .pass-tc-pic.fail {
	background: url(/common/img/icon_fail.png) no-repeat center center/contain;
}
/* 成功icon */
.pass-tc-box .pass-tc-pic.success {
	background: url(/common/img/icon_success.png) no-repeat center center/contain;
	;
}
/* 右上角关闭按钮 */
.pass-close-btn {
	width: .36rem;
	height: .36rem;
	display: inline-block;
	background: url(/common/img/btn_close.png) no-repeat center center/.36rem .36rem;
	position: absolute;
	top: .38rem;
	right: .38rem;
}
/* 单按钮 */
.pass-tc-know {
	color: #587EDF;
	font-size: .32rem;
	height: 1rem;
	line-height: 1rem;
	border-top: 1px solid #e5e5e5;
}
/* 双按钮 */
.pass-tc-yes,
.pass-tc-no {
	color: #587EDF;
	font-size: .32rem;
	height: 1rem;
	line-height: 1rem;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/* Firefox */
	-webkit-box-sizing: border-box;
	/* Safari */
}
.pass-tc-no {
	color: #3C3759;
	border-right: 1px solid #e5e5e5;
}
.pass-tc-line{
	border-top: 1px solid #e5e5e5;
}

.xz-btn{
	width: 0.9rem;
	height: 0.9rem;
	background: url(/jy/rzrq/images/wxz.png) no-repeat center;
	background-size: 0.36rem;
}
.xz-btn-active{
	background: url("/jy/rzrq/images/xz.png") no-repeat center;
	background-size: 0.36rem;
}
.pass-tc-zx-content{
	font-family: PingFangSC-Regular;
	height: 0.9rem;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	margin-bottom: 0.2rem;
}
.pass-tc-group{
	font-size: 0.3rem;
	color: #808098;
}