/* 直播专区 */
.live-broadcast-group,.dsp-group {
  padding: 0 .15rem;
}
.live-broadcast-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.live-broadcast-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 48%;
}
.live-broadcast-wrapper .live-broadcast-item {
  display: inline-block;
  height: 1.055rem;
  width: 100%;
}
.live-broadcast-wrapper-left {
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.live-broadcast-wrapper-left  .live-broadcast-item{
  height: 2.22rem;
  background-color: #332228;
  overflow: hidden;
}
.live-broadcast-wrapper-left  .live-broadcast-item img{
  height: auto;
  width: 100%;
  -webkit-box-shadow: 0 .01rem .07rem 0 rgba(39,52,125,0.10);
  box-shadow: 0 .01rem .07rem 0 rgba(39,52,125,0.10);
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}
.live-broadcast-wrapper-left .live-broadcast-desc {
  position: absolute;
  top: 1rem;
  bottom: 0;
  padding-top: .28rem;
  padding-bottom: .3rem;
  border-bottom-left-radius: .07rem;
  border-bottom-right-radius: .07rem;
  background-image: -webkit-gradient(linear,left bottom, left top,from(#332228), color-stop(rgba(51, 34, 40, .949)) ,color-stop(rgba(51, 34, 40, .6)),color-stop(rgba(51, 34, 40, .2)) , to(transparent));
  background-image: linear-gradient(to top,#332228, rgba(51, 34, 40, .949) ,rgba(51, 34, 40, .6),rgba(51, 34, 40, .2) , transparent);
}
.live-broadcast-wrapper-left .live-broadcast-desc .title {
  width: 100%;
  margin-bottom: .06rem;
  font-size: .16rem;
}
.live-broadcast-wrapper-left .live-broadcast-desc .title p {
  display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    line-height: .22rem;
}
.live-broadcast-wrapper-left .live-broadcast-desc .hostname {
  margin-top: .09rem;
}
.live-broadcast-wrapper-left .bottom-bg {
  height: .99rem;
  width: 100%;
  background: #332228;
}
.live-broadcast-wrapper-left .live-broadcast-item img {
  border-top-left-radius: .07rem;
  border-top-right-radius: .07rem;
}
.live-broadcast-wrapper-right .live-broadcast-item:last-child {
  margin-top: .09rem;
}
.live-broadcast-wrapper-right .live-broadcast-desc {
  border-radius: .07rem;
}
.live-broadcast-wrapper-right .live-broadcast-item img {
  border-radius: .07rem;
}
.live-broadcast-item {
  position: relative;
  height: 1.6rem;
  background: #f6f8f9;
  -webkit-box-shadow: 0 .01rem .07rem 0 rgba(39,52,125,0.10);
  box-shadow: 0 .01rem .07rem 0 rgba(39,52,125,0.10);
  border-radius: .07rem;
}
.live-broadcast-item img {
  display: block;
  width: 100%;
  height: 100%;
}
.live-broadcast-info {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.1091rem;
  line-height: 0.1091rem;
  color: #FFFFFF;
  text-align: center;
  border-top-left-radius: .06rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.live-broadcast-info span {
  padding: .05rem .08rem;
}
.live-broadcast-info span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: .06rem;
}
.live-broadcast-info span:last-child {
  padding-left: .05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #787684;
  border-top-right-radius: .06rem;
}
.status-red {
  background: #F24D44 !important;
}
.status-blue {
  background: #5da8f8 !important;
}
.status-yellow {
  background: #D7B67C !important;
}
.to-view-box {
  position: absolute;
  right: .1rem;
  bottom: .08rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .025rem .1rem;
  color: #FFFFFF;
  border-top-left-radius: .08rem;
  border-top-right-radius: .1rem;
  border-bottom-right-radius: .1rem;
}
.view {
  margin-right: .05rem;
}
.live-broadcast-icon {
  display: inline-block;
  height: .11rem;
  width: .11rem;
  margin-right: .03rem;
  background: #AB1C1A;
  vertical-align: top;
}
.status {
  margin-left: .03rem;
}
.live-broadcast-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .1rem .1rem;
  color: #FFFFFF;
  background-image: -webkit-gradient(linear,left bottom, left top,from(rgba(51, 34, 40, .9)), to(transparent));
  background-image: linear-gradient(0deg,rgba(51, 34, 40, .9), transparent);
}
.live-broadcast-desc .title {
  width: 90%;
  font-size: .14rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
.live-broadcast-desc .hostname {
  position: relative;
  font-size: .12rem;
}

/* 短视频 */
.dsp-item {
  position: relative;
  height: 1.5rem;
  background: #f6f8f9;
  border-radius: .07rem;
}
.dsp-item img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: .07rem;
}

/* 视频课程 */
.video-group {
  padding: .15rem;
}
.video-group img {
  width: 100%;
  height: auto;
  max-height: 1.8183rem;
  margin: 0 0 .1rem;
  /* 先完全填充，变形的话后续再提优化方案 */
  -o-object-fit: fill;
  object-fit: fill;
}
