.fnjp-list {
  padding: 0 .15rem;
}

.fnjp-list .fnjp-list-item {
  padding: .1rem 0;
  border-bottom: 1px solid #E5E5E5;
}

.fnjp-list .fnjp-list-item .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.content-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: .13rem;
  text-align: left;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: 100%;
}

.content-box p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: .16rem;
  color: #13111A;
  line-height: .24rem;
  /* text-align: justify; */
}

.fnjp-list-item img {
  /* 机型：iPhone 6plus  12.5.5 有压缩的情况 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  height: .4rem;
  width: .4rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.fnjp-list-item .content-tips {
  font-size: .14rem;
  color: #787684;
  text-align: right;
  line-height: .14rem;
}

.fnjp-list-item .time {
  margin-left: .06rem;
}
