.jr-title{
    position: relative;
}
.jr-title .title{
    font-weight: 600;
    font-size: 0.18rem;
    color: #13111a;
}

/*要闻*/
.yaowen-list{
    padding: 0 0.15rem;
    background: #fff;
}
.yaowen-list .zx-list{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 0.15rem 0 0.18rem 0;
    border-bottom: 1px solid #e5e5e5;
    height: 0.9rem;
}
.yaowen-list .zx-list img {
    position: absolute;
    right: 0;
    top: 0.15rem;
    height: 0.5rem;
    width: 0.8rem;
    z-index: 1;
}
.yaowen-list .zx-list .zx-name {
    color: #13111a;
    font-size: 0.16rem;
    line-height: 0.24rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
}
.yaowen-list .zx-list .zx-read-name {
    color: #787684;
}
.yaowen-list .zx-list .zx-date {
    color: #787684;
    font-size: 0.14rem;
    float:right;
}
.yaowen-list .zx-list .zx-media{
    color: #787684;
    font-size: 0.14rem;
}
.yaowen-list .zx-foot{
    width:100%;
    line-height: 0.35rem;
    height: 0.3rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-right: 0;
}

.extension-banner{
    padding: 0.15rem;
}
.extension-banner img{
    width: 100%;
    height: 0.91rem;
    margin: 0 auto;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
}

.tougu-group{
    padding: 0 0.15rem;
}
.tougu-head{
    height: 0.32rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;

    font-family: PingFangSC-Regular;
    font-size: 0.13rem;
    color: #3C3759;
    margin-bottom: 0.05rem;
    margin-top: 0.1rem;
}
.head-img{
    width: 0.32rem;
    height: 0.32rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.1rem;
    display: inline-block;
}
.head-img img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.head-name{
    margin-right: 0.05rem;
}
.page-wrapper .tougu-group .tougu-list .tougu-title{
    font-weight: 500;
    font-size: 0.18rem;
    color: #3C3759;
    text-align: justify;
    line-height: 0.26rem;
}
.tougu-content{
    font-size: 0.16rem;
    color: #3C3759;
    text-align: justify;
    line-height: 0.26rem;
    padding-top: 0.1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-break: break-all;
    letter-spacing: -1px;
}
.tougu-footer{
    font-size: 0.14rem;
    color: #808098;
    border-bottom: 1px solid #E6E6E6 ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    height: 0.3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-read{
    margin-right: 0.1rem;
}

.video-list{
    padding: 0.15rem 0;
}
.video-list img{
    width: 3.05rem;
    height: 0.91rem;
    margin: 0 auto;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
}

.video-group{
    padding: 0.15rem 0;
}
.video-group img{
    width: 3.14rem;
    height: 1.28rem;
    margin: 0 auto 0.15rem;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
}

.swiper-slide-zbzq img{
    width: 3.14rem;
    height: 1.37rem;
    display: block;
    margin: 0 auto 0.15rem;
    border-radius: 5px;
    -o-object-fit: contain;
    object-fit: contain;
}


.list_item_bd a{color:#3C3759;text-decoration: none!important;}
#capture{
    width: 100%;height: auto;background: #fff;z-index: -100;position: fixed;top: 100%;
}
.captitle{
    width: 100%;height: 1rem;background: url(/zx2/img/captitle1.png) no-repeat;background-size: 100% 100%;
    overflow: hidden;
}
.captitlecon{
    position: relative;
    width: 100%;
    height: .31rem;
    font-size: .22rem;
    line-height: .31rem;
    text-align: center;
    color: #fff;
    margin-top: .3rem;
}
.captitlecon>i{
    width: .34rem;
    height: .2rem;
    position: absolute;
    top: .04rem;
    left: .6rem;
    display: block;
    /*background: url(img/cap724.png) no-repeat;
    background-size: 100% 100%;*/
}
.captitlecon>i img{
    width: 100%;
    height: 100%;
}
.captime{
    width: 100%;height: .2rem;line-height: .2rem;font-size: .14rem;color: #fff;text-align: center;
}
.capcenter{
    width: 88%;
    /*max-height: 60%;
    _height: 60%;*/
    background: #fff;
    /* position: absolute;
     top: 0;
     left: 6%;*/
    margin-left: 6%;
    padding: .2rem .13rem .2rem;
    font-size: .16rem;
    color: #3C3759;
    overflow: hidden;
    border-radius: .05rem;
    /*z-index: 100;*/
    border:.02rem solid #f6f6f6;
    border-top: none;
}

.capfoot{
    position: relative;
    width: 100%;
    height: 1rem;
    padding: 0 6%;
    margin-top: .55rem;
    overflow:hidden;
}
.caphf{
    width: 1.85rem;
    height: .6rem;
    float: left;
    /*background: url(img/caphf.png) no-repeat;
    background-size: 100% 100%;*/
    margin-top: .05rem;
    /*margin-right: .38rem;*/
}
.capewm{
    float: right;
    width: .65rem;
    height: .65rem;
    /*background: url(img/capewm.jpg) no-repeat;
    background-size: 100% 100%;*/
    position: relative;
}
.capewm>i{
    position: absolute;
    color: #3C3759;
    top: .7rem;
    width: 3.65rem;
    left: -1.5rem;
    /*font-size: .12em;*/
    text-align: center;
}
.tw724{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    /*background: url(img/tw724.png) no-repeat;
    background-size: 100% 100%;*/
}
.capfoot img{
    width: 100%;
    height: 100%;
}
#canvasImg{
    width: 100%;
}
.capcentertop{
    width: 100%;height: .5rem;background: url(/zx2/img/captitle2.png) no-repeat;background-size: 100% 100%;position: absolute;top: 1rem;
}
.capcon{width: 100%;position: relative;}
.capcon .caphead{
    padding-bottom: 0.1rem;
}
.capcon .caphead p span{
    width: auto;
    height: 0.3rem;
    float: right;
    text-align: center;
    line-height: 0.3rem;
    color: #408FFF;
    padding: 0 0.05rem 0 0.05rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.capcon .caphead p{
    float: right;
}
.capcon .caphead b{
    font-size: .2rem;
}
.capcon b{
    font-weight: bold;
}
.capcontent{
    font-size: 0.145rem;
    padding-top: 0.1rem;
}

.all-video-group{
    padding: 0 0.15rem;
}
.all-video-list{
    width: 48%;
    float: left;
    margin-bottom: 0.15rem;
    font-weight: 500;
}
.all-video-list:nth-child(2n+1){
    margin-right: 4%;
}
.all-video-list img{
    width: 100%;
    height: 1.1rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}

.list-img{
    position: relative;
    margin-bottom: 0.1rem;
}
.list-img .list-img-desc{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.32rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding: 0 0.1rem;
    color: white;
    background-image: -webkit-gradient(linear,left bottom, left top,from(rgba(0,0,0,.75)),to(transparent));
    background-image: linear-gradient(0deg,rgba(0,0,0,.75),transparent)

}
.list-img .list-img-desc .img-video{
    padding-left: 0.18rem;
    position: relative;
    height: 0.2rem;
    line-height: 0.2rem;
}
.list-img .list-img-desc .img-video:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0.05rem;
    width: 0.13rem;
    height: 0.1rem;
    background: url("/common/img/icon_home_new_index_video.png") no-repeat;
    background-size: cover;
}

.list-title{
    font-size: 0.16rem;
    color: #3C3759;
}
.list-time{
    font-size: 0.12rem;
    color: #A5A1B1;
}
.list-title,.list-time{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tougu-mx{
    position: relative;
    padding-left: 0.15rem;
    color: #73BAF9;
}
.tougu-mx:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0.14rem;
    height: 0.17rem;
    -o-object-fit: contain;
    object-fit: contain;
    background: url("/common/img/icon_home_new_index_mxtg.png") no-repeat;
    background-size: contain;
}
.tougu-mx em{
    background-image: -webkit-gradient(linear, right top, left top, from(#97D9FD), to(rgba(111,182,248,0.00)));
    background-image: linear-gradient(270deg, #97D9FD 0%, rgba(111,182,248,0.00) 100%);
    border-radius: 2px;
}
.tougu-jp{
    position: relative;
    padding-left: 0.15rem;
    color: #FF9D0E;
}
.tougu-jp em{
    background-image: -webkit-gradient(linear, right top, left top, from(#FFC504), to(rgba(255,181,16,0.00)));
    background-image: linear-gradient(270deg, #FFC504 0%, rgba(255,181,16,0.00) 100%);
    border-radius: 2px;
}
.tougu-jp:after{
    content: '';
    position: absolute;
    left: .03rem;
    top: .03rem;
    width: 0.14rem;
    height: 0.14rem;
    -o-object-fit: contain;
    object-fit: contain;
    background: url("/common/img/icon_home_new_index_jptg.png") no-repeat;
    background-size: contain;
}

.title-desc em{
    height: 0.2rem;
    font-size: .12rem;
    line-height: .2rem;
    padding: 0 0.07rem;
    color: #f24d44!important;
    background: #ffefee;
    white-space: nowrap;
    margin-left: 0.1rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.ssgd{position: relative;}
.ssgd-tab{
    position: absolute!important;
}
.ssgd .box{
    padding: 0.5rem 0.15rem 0.15rem;
    background: #fff
}
.ssgd-tab{
    padding: 0.136rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.ssgd-tab div,.ssgd .list_item_bd .newstitle.close,.ssgd .list_item_source{
    color: #434151;
}
.ssgd .hd_title{
    color: #13111a;
}
.ssgd .hd_date .date{
    color: #787684;
}
