.page-wrapper {
  background: rgb(242 244 247);
  color: #13111a;
}

.header {
  position: relative;
  /* background: white; */
}

.swiper-container-banner {
  overflow: hidden;
}
.swiper-container-banner .swiper-slide {
  height: 2.18667rem;
}
.swiper-container-banner .swiper-slide img {
  width: 100%;
  height: 2.18667rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0 auto;
  display: -webkit-box;
  max-width: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

.nine-chequer {
  position: relative;
  z-index: 2;
}
.nine-chequer-box {
  /* max-height: 1.45rem; */
  /* background: white; */
  border-radius: 4px 4px;
  overflow: hidden;
  position: relative;
}
.nine-chequer-box-default {
  overflow: inherit;
}
.nine-chequer-box-default:after {
}
.nine-chequer-list .icon-img {
  width: 0.85333rem;
  height: 0.85333rem;
  display: block;
  background-size: 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.nine-chequer-list .icon-img img {
  width: 100%;
  height: auto;
}
.icon-default {
  width: 100%;
  height: 100%;
  background: #f6f8f9;
  background: url('../images/home_new_bgg.png') no-repeat;
  background-size: cover;
  display: block;
}
.icon-tongzhi {
  width: 0.12rem;
  height: 0.12rem;
  background: url(../../common/img/icon_home_new_tongzhi.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  margin-right: 0.05rem;
}
.icon-live {
  width: 0.14rem;
  height: 0.14rem;
  background: url('../images/live.png') no-repeat;
  background-size: 100% 100%;
  display: block;
}
.chunk-default {
  background: #f6f8f9;
  background-size: 100%;
  color: #f6f8f9 !important;
}
.banner-default {
  width: 100%;
  height: 100%;
  background: #f6f8f9;
  background: url('../images/home_new_banner.png') no-repeat;
  background-size: cover;
  display: block;
}
.font-default {
  width: 80%;
  height: 0.14rem;
  background: #f6f8f9;
  display: block;
  margin: 0 auto;
}

.swiper-container-banner-old .swiper-wrapper .image {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
  height: 1.64rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.swiper-container-banner-old .swiper-pagination-bullet {
  width: 0.09rem;
  height: 0.015rem;
  border-radius: 0.005rem;
  border-radius: 0;
}
.swiper-container-banner-old .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0.15rem !important;
}

.swiper-container-banner .swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 0.12rem !important;
}
.swiper-container-banner .swiper-pagination-bullet {
  width: 0.05rem;
  height: 0.05rem;
  border-radius: 50%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.swiper-container-banner .swiper-pagination-bullet-active {
  background: white !important;
}

.nav-group-position {
  /*height: 0.5rem;*/
  box-shadow: 0 8px 16px 0 rgba(235, 235, 235, 0.5);
  -webkit-box-shadow: 0 8px 16px 0 rgba(235, 235, 235, 0.5);
  position: relative;
  z-index: 22;
  height: 0.45rem;
}
.nav-group {
  height: 0.45rem;
  line-height: 0.45rem;
  /*padding: 0 0 0 0.15rem;*/
  font-size: 0.16rem;
  color: #13111a;
  overflow: scroll;
  background: white;
  white-space: nowrap;
  z-index: 222;
  width: 100% !important;
}
.nav-group-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.nav-group div {
  display: inline-block;
  width: 20%;
  text-align: center;
  float: left;
}
.nav-group div span {
  position: relative;
  z-index: 2;
  font-weight: 500;
}
.nav-group .active {
  color: #f24d44;
  position: relative;
  font-size: 0.2rem;
}
.nav-group .active i {
  position: absolute;
  bottom: 18%;
  left: 18%;
  width: 72%;
  height: 8px;
  background-image: linear-gradient(271deg, #ffffff 0%, #fbc5c2 46%, #f24d44 100%);
  border-radius: 1.5px;
  z-index: 1;
}

.suspension-window {
  position: fixed;
  bottom: 1.17333rem;
  right: 0.29333rem;
  width: 2.64rem;
  height: 1.46667rem;
  z-index: 22;
  display: none;
}
.suspension-window > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.suspension-window img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 0.13333rem;
}
.suspension-window > .icon-close {
  position: absolute;
  top: -0.58667rem;
  right: -0.20533rem;
  width: 0.58667rem;
  height: 0.58667rem;
  background: url('/common/img/icon_home_new_close.png') no-repeat;
  background-size: 100% 100%;
}

.page-content {
  /*padding-top: 0.1rem;*/
  background: white;
}

.app-header {
  /*height: 64px;*/
  height: 70px; /*安卓是70*/
}
@supports ((height: constant(safe-area-inset-top)) or (height: env(safe-area-inset-top))) and
  (-webkit-overflow-scrolling: touch) {
  .app-header {
      height: calc(44px + constant(safe-area-inset-top));
  }
  .app-header {
      height: calc(44px + env(safe-area-inset-top));
  }
}

.scroll-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  padding: 0 0.12rem 0.1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}
.scroll-info .scroll-info-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(140%, #efefef));
  background-image: linear-gradient(-180deg, #ffffff 0%, #efefef 140%);
  border-radius: 6px;
  width: 100%;
  padding: 0.03rem 0;
}
.scroll-title {
  width: 0.55rem;
  height: 0.2rem;
  border-radius: 2px;
  font-family: PingFangSC-Medium;
  font-size: 0.12rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}
.scroll-title em {
  display: contents;
}
.scroll-title svg {
  width: 0.12rem;
  margin-left: 0.05rem;
  margin-right: 0.02rem;
}
.scroll-content-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex: 1;
  width: 2.4rem;
  height: 0.22rem;
  overflow: hidden;
}
.scroll-content-group > div {
  width: 100%;
}
.scroll-content-group .list {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: PingFangSC-Regular;
  font-size: 0.13rem;
  color: #13111a;
  padding-left: 0.05rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.scroll-title-tz {
  /* background-image: linear-gradient(-135deg, #A9E9FF 0%, #5CA6F6 100%); */
  color: #408fff;
}
.scroll-title-zb {
  /*background-image: linear-gradient(-137deg, #FF7D7D 0%, #FE4747 100%);*/
  color: #f24d44;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  font-size: 0.14rem;
  width: 0.65rem;
  padding-left: 0.05rem;
}
.scroll-title-zb svg {
  margin-left: 0.08rem;
  width: 0.12rem;
  margin-right: 0.03rem;
}
.header-version-old .scroll-info-tz {
  padding-top: 0.1rem;
  padding-bottom: 0;
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
